In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("duo_stats.csv")
df

,Video Order,About,Views,Likes,Comments,Favorites,Shares
0,1,Karle taking midterm,5451.0,158,0,7,47
1,2,Oh my goodness I love this question,5482.0,78,1,3,2
2,3,We're professors...,61200.0,5970,104,174,587
3,4,Do you guys wanna hang out at 10?,NaN,1579,15,32,47
4,5,Hi Barbie,3625.0,196,13,5,26
5,6,Walking in the snow,4114.0,418,4,5,3
6,7,And when I'm back in Chicago,10200.0,521,4,9,12
7,8,Day in the life of Karle,10800.0,797,10,28,80
8,9,You wouldn't last an hour in the asylum where ...,7759.0,349,3,10,28

In [33]:
#How many TikToks are there?
num_of_tiktoks = df["Video Order"].count()
num_of_tiktoks

9

In [22]:
#Average Views
ave_views = df["Views"].mean()
ave_views

13578.875

In [23]:
#Average Likes
ave_likes = df["Likes"].mean()
ave_likes

1118.4444444444443

In [24]:
#Ave Shares
ave_shares = df["Shares"].mean()
ave_shares

92.44444444444444

In [25]:
#Video with the most Views
most_views = df.nlargest(1, "Views")
most_views

,Video Order,About,Views,Likes,Comments,Favorites,Shares
2,3,We're professors...,61200.0,5970,104,174,587

In [26]:
#Video with the most Likes
most_likes = df.nlargest(1, "Likes")
most_likes

,Video Order,About,Views,Likes,Comments,Favorites,Shares
2,3,We're professors...,61200.0,5970,104,174,587

In [27]:
#Video with the most Comments
most_comments = df.nlargest(1, "Comments")
most_comments

,Video Order,About,Views,Likes,Comments,Favorites,Shares
2,3,We're professors...,61200.0,5970,104,174,587

In [28]:
#Video with the most Favorites:
most_favs = df.nlargest(1, "Favorites")
most_favs

,Video Order,About,Views,Likes,Comments,Favorites,Shares
2,3,We're professors...,61200.0,5970,104,174,587

In [29]:
#Video with the most Shares:
most_shares = df.nlargest(1, "Shares")
most_shares

,Video Order,About,Views,Likes,Comments,Favorites,Shares
2,3,We're professors...,61200.0,5970,104,174,587